body {
    background-image: url("https://static1.squarespace.com/static/57c792c21b631b7a4a7d502a/5808eb70579fb31efea4a4a6/5876a873893fc0131096ff8e/1484174343937/jrosenberg_nickel%26diner_hires-5781.jpg");
    background-size: cover;
    background-position-y: -200px;
}
.wrapper {
    width: 900px;
    margin: 0 auto;
    text-align: center;
    background-color: lightgrey;
    opacity: 0.9;
}
.left {
    width: 40%;
    display: inline-block;
}
.right {
    width: 40%;
    display: inline-block;
}